body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.mainBox {
  /* border: 1px solid black; */
  display: block;
  height: 800px;
  width: 100%;
  margin: auto;
  background-color: #101e46;
  padding-top: 35px;
  /* margin-top: 15px; */
  position: relative;


}

.cardTable {
  /* border: 1px solid black; */
/* 
  height: 96%;
  width: 40%; */
  top: 50px;
  /* width: 300px; */
  /* display: inline; */
  margin: auto;
  /* float: right; */
  /* margin: auto; */
  /* margin-right: 50px; */
  /* margin-top: 50px; */
  /* margin-right: 7%; */
  /* margin: 20px; */
  /* padding: 30px; */
  background: blanchedalmond;
  z-index: 10;
  position: relative;
  /* top: 0px; left: 0px; */
  /* display: inline-flex; */
  background: #ffebcd2b;
  overflow-y: scroll;
}
.cardTable2 {
  /* border: 1px solid black; */
  display: inline;
  /* width: 100%; */
  /* height: 100%;
  width: 700px; */
  top: 50px;
  /* float: left; */
  /* float: right; */
  /* margin: auto; */
  /* margin-top: 50px; */
  margin-left: 3%;
  /* margin: 20px; */
  /* padding: 30px; */
  background: blanchedalmond;
  z-index: 1100;
  position: relative;
  top: 0px; 
  /* left: 0px;  */
  /* right: 0px; */
  /* display: inline-block; */
  background: #ffebcd11;
  /* overflow-y: scroll; */
}
.profilePic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 250px;
  height: 300px;

  border-radius: 20px;
  /* width: 100%; */
  top: 0px;
  /* border-radius: 50%; */
  position: relative;
  /* float: right; */
  border: 4px solid whitesmoke;
}
.myCards {
   z-index: 1000;
   height: 100%;
   width: 99%;
   /* border: 1px solid rgba(255, 255, 0, 0.185); */
   /* position: absolute; */
   float: right;


}
img{
  /* height: 350px;
  width: 50%;
  border-radius: 20px; */

  /* width: 200px;
  margin: 10px; */
  /* opacity: .7; */
}
/* .card-img {
} */

p{
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 400;
  color: white;
}

#titles{
  font-family: 'Didact Gothic', sans-serif;
  letter-spacing: 3px;
  margin-bottom: 0px;
    margin-right: 0px;
  /* font-size: 40px; */
  /* position: absolute; */
  /* float: right; */
  /* text-align: center; */
  /* top: 17px; left: 1100px; */
  text-align: center;
  font-size: 43px;
  margin-top: 133px;
  font-weight: 900;
  color: white;
  background-color: #12131478;
  /* margin-right: 50%; */
}

h1{
  margin-top: 0px;
}
h3{
  margin-right: 60px;
  margin-left: 60px;
  color: whitesmoke;
}
h4{
color: whitesmoke;
/* text-decoration-line: underline; */
}

#contact{
  font-size: 12.5px;
  letter-spacing: 2px;
  top: 25px;
  margin-top: 18px;
  margin-right: 50px;  font-family: 'Didact Gothic', sans-serif;

}
ul{
  list-style-type: none;
  /* padding: 5%; */
  /* padding-top: 30px; */
  /* width: 650px; */
  /* float: right; */


}

li{
  /* margin-bottom: 23px; */
  /* width: 100%; */
  /* margin-right: 100px;
  margin-left: 100px; */


}

button {
  text-align: center;
}

.view {
  font-size: 28px;
  font-weight: bolder;
  /* color: white; */
  /* text-shadow: brown;; */
  height: 30px;
  /* background-color: turquoise; */
}

.mr-auto{
  width: 300px;
}
/* .collapse{
  height: 100px;
} */

.projectBox{
  /* border: 2px solid black; */
  width: 100%;
  /* height: 800px; */
  display: flex;
  background-color: #f0f0f0;
  text-align: center;

}
.innerProjectBox{
  /* height: 80%; */
  width: 100%;
  /* border: 2px solid gray; */
  display: flex;
  /* vertical-align: middle; */
  margin-top: 2%;
  margin-bottom: 5%;
  /* flex-flow: row; */
  justify-content: space-around;
  align-items: flex-start;

}

.intro{
  /* border: 2px solid black; */
  width: 100%;
  height: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  /* margin-bottom: 150px; */

}

.introOne{
  color: white;

}

.introThree{
  color: #ff5718;
  font-weight: 600;

}
.introAbout{
  color: white;
  padding: 5px;



}
.introAbout2{
  color: white;
  font-size: 12px;
  width: 50%;
 

}
.intro-p-width{
  width: 39%;
  text-align: center;
  margin: auto;
  line-height: 1.2em;
}
.myName{
  border: 2px solid black;
  height: 100%;
  width: 300px;
  margin-left: 0%;
  text-align: left;

}
.navName{
  color: wheat;
  display: inline;
}
.myLogo{
  border: 2px solid black;
  height: 100%;
  width: 70px;
  margin-left: 2%;
  margin-right: 5px;
  float: left;
}

.meMoji{
  border-radius: 50%;
  height: 100%;
  width: 100%;
  opacity: .7;
}

.fa-fish {
  color: #ff5718;;
}



html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

.projectCard{
  height: 20%;
  width: 34%;
  border: 2px solid black;
  align-self: auto;
}



.mr-auto{
  height: 100px;
  width: 200px;
  /* border: 4px solid black; */
}
.full{
  font-size: 10px;
  display: block;
}
.about{
  height: 30%;
  width: 75%;
  /* border: 1px solid black; */
  margin: auto;
  
}


.box2{
  /* border: 2px solid black; */
  width: 100%;
  height: auto;
  background-color: #101e46;
  /* text-align: center; */
  margin-top: 0px;
  padding-top: 5%;

}
.aboutDiv{
  margin-top: 5%;
}
.aboutOne{
  font-size: 50px;
}

.list{
  height: 30%;
  width: 20%;
}

a.nav-link{
  margin-top: 30px;
}
ul.list-group{
  margin-top: 5%;
  text-align: left;
}
li.list-group-item{
  padding-left: 5%;
}

div.jumbotron{
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}

footer{
  width: auto;
  height: 80px;
  background-color: #101e46 ;
}
section.black{
  height: 145px;
  width: 100%;
  background-color: black;
  z-index: 10000;
  padding: 18px;

}
img.media-object{
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 34px;
  margin-bottom: 2%;
  width: 30%;
}
@media only screen and (max-width: 767px) {
  .mr-auto {
    height: 200px;
  }
  .about{
    width: 100%;
  }
  .intro-p-width{
    width: 100%;
  }
  section.black{
    height: 170px;
    width: 100%;
    background-color: black;
    z-index: 10000;
    padding: 18px;

  }
  
}