body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  /* height: 80%; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.mainBox {
  /* border: 1px solid black; */
  display: block;
  height: 800px;
  width: 100%;
  margin: auto;
  background-color: #0098bf;
  padding-top: 35px;
  /* margin-top: 15px; */
  position: relative;


}

.cardTable {
  /* border: 1px solid black; */
/* 
  height: 96%;
  width: 40%; */
  top: 50px;
  /* width: 300px; */
  /* display: inline; */
  margin: auto;
  /* float: right; */
  /* margin: auto; */
  /* margin-right: 50px; */
  /* margin-top: 50px; */
  /* margin-right: 7%; */
  /* margin: 20px; */
  /* padding: 30px; */
  background: blanchedalmond;
  z-index: 10;
  position: relative;
  /* top: 0px; left: 0px; */
  /* display: inline-flex; */
  background: #ffebcd2b;
  overflow-y: scroll;
}
.cardTable2 {
  /* border: 1px solid black; */
  display: inline;
  /* width: 100%; */
  /* height: 100%;
  width: 700px; */
  top: 50px;
  /* float: left; */
  /* float: right; */
  /* margin: auto; */
  /* margin-top: 50px; */
  margin-left: 3%;
  /* margin: 20px; */
  /* padding: 30px; */
  background: blanchedalmond;
  z-index: 1100;
  position: relative;
  top: 0px; 
  /* left: 0px;  */
  /* right: 0px; */
  /* display: inline-block; */
  background: #ffebcd11;
  /* overflow-y: scroll; */
}
.profilePic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 250px;
  height: 300px;

  border-radius: 20px;
  /* width: 100%; */
  top: 0px;
  /* border-radius: 50%; */
  position: relative;
  /* float: right; */
  border: 4px solid whitesmoke;
}
.myCards {
   z-index: 1000;
   height: 100%;
   width: 99%;
   /* border: 1px solid rgba(255, 255, 0, 0.185); */
   /* position: absolute; */
   float: right;


}
img{
  height: 350px;
  width: 50%;
  border-radius: 20px;

  /* width: 200px;
  margin: 10px; */
  /* opacity: .7; */
}
/* .card-img {
} */

p{
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 400;
  color: whitesmoke;
}

#titles{
  font-family: 'Didact Gothic', sans-serif;
  letter-spacing: 3px;
  margin-bottom: 0px;
    margin-right: 0px;
  /* font-size: 40px; */
  /* position: absolute; */
  /* float: right; */
  /* text-align: center; */
  /* top: 17px; left: 1100px; */
  text-align: center;
  font-size: 43px;
  margin-top: 133px;
  font-weight: 900;
  color: white;
  background-color: #12131478;
  /* margin-right: 50%; */
}

h1{
  margin-top: 100px;
}
h3{
  margin-right: 60px;
  margin-left: 60px;
  color: whitesmoke;
}
h4{
color: whitesmoke;
/* text-decoration-line: underline; */
}

#contact{
  font-size: 12.5px;
  letter-spacing: 2px;
  top: 25px;
  margin-top: 18px;
  margin-right: 50px;  font-family: 'Didact Gothic', sans-serif;

}
ul{
  list-style-type: none;
  padding: 5%;
  padding-top: 30px;
  width: 650px;
  /* float: right; */


}

li{
  margin-bottom: 23px;
  width: 100%;
  /* margin-right: 100px;
  margin-left: 100px; */


}

button {
  text-align: center;
}

.view {
  font-size: 28px;
  font-weight: bolder;
  /* color: white; */
  /* text-shadow: brown;; */
  height: 30px;
  /* background-color: turquoise; */
}

.myNav {
  position: fixed;
  top: 0; 
  height: 80px;
  z-index: 500;
  width: 100%;
  /* opacity: .9; */
  justify-content: none;
  background-color: #0000002b;
  /* border: 1px solid black; */
}

.projectBox{
  border: 2px solid black;
  width: 100%;
  height: 800px;
  display: block;
}

.intro{
  border: 2px solid black;
  width: 70%;
  height: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  /* margin-bottom: 150px; */

}

.introOne{
  color: whitesmoke;

}

.introThree{
  color: whitesmoke;

}
.myName{
  border: 2px solid black;
  height: 100%;
  width: 270px;
  margin-left: 0%;
  text-align: left;

}
.navName{
  color: whitesmoke;
  display: inline;
}
.myLogo{
  border: 2px solid black;
  height: 100%;
  width: 70px;
  margin-left: 2%;
  margin-right: 5px;
  float: left;
}

.meMoji{
  
}