body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.mainBox {
  /* border: 1px solid black; */

  height: 1054px;
  width: 100%;
  margin: auto;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  opacity: .7;
  padding-top: 35px;
  /* margin-top: 15px; */
  position: relative;


}

.cardTable {
  /* border: 1px solid black; */

  height: 96%;
  width: 65%;
  top: 50px;
  float: left;
  margin: auto;
  margin-top: 50px;
  /* margin: 20px; */
  /* padding: 30px; */
  background: blanchedalmond;
  z-index: 10;
  position: relative;
  top: 0px; left: 0px;
  display: flex;
  background: #ffebcd3d;
  overflow-y: scroll;
}
.cardTable2 {
  /* border: 1px solid black; */

  height: 96%;
  width: 30%;
  top: 50px;
  /* float: right; */
  margin: auto;
  margin-top: 50px;
  /* margin: 20px; */
  /* padding: 30px; */
  background: blanchedalmond;
  z-index: 1100;
  position: relative;
  top: 0px; left: 0px;
  display: inline-block;
  background: #ffebcd11;
  /* overflow-y: scroll; */
}
.profilePic{
  border-radius: 20px;
  width: 100%;
  /* border-radius: 50%; */
  position: relative;
  float: right;
}
.myCards {
   z-index: 1000;
   height: 100%;
   width: 99%;
   border: 1px solid rgba(255, 255, 0, 0.185);
   /* position: absolute; */
   float: right;


}
img{
  height: 350px;
  width: 50%;
  border-radius: 20px;

  /* width: 200px;
  margin: 10px; */
  /* opacity: .7; */
}
/* .card-img {
} */

p{
  margin-bottom: 0px;
}

#titles{
  font-family: 'Didact Gothic', sans-serif;
  letter-spacing: 3px;
  margin-bottom: 0px;
    margin-right: 0px;
  /* font-size: 40px; */
  /* position: absolute; */
  /* float: right; */
  /* text-align: center; */
  /* top: 17px; left: 1100px; */
  text-align: center;
  font-size: 43px;
  margin-top: 133px;
  font-weight: 900;
  color: white;
  background-color: #12131478;
  /* margin-right: 50%; */
}

h1{
  margin-top: 100px;
}



#contact{
  font-size: 12.5px;
  letter-spacing: 2px;
  top: 25px;
  margin-top: 18px;
  margin-right: 50px;  font-family: 'Didact Gothic', sans-serif;

}
ul{
  list-style-type: none;
  padding: 5%;
  padding-top: 30px;
  /* float: right; */


}

li{
  margin-bottom: 23px;


}

button {
  text-align: center;
}

.view {
  font-size: 28px;
  font-weight: bolder;
  /* color: white; */
  /* text-shadow: brown;; */
  height: 30px;
  /* background-color: turquoise; */
}

.myNav {
  position: fixed;
  top: 0; 
  z-index: 500;
  width: 100%;
  opacity: .7;
}